/*-------FORM--------*/

.call-to{
  color: rgb(255,255,255);
  margin-bottom: 8%;
}

#prospect-form{
  margin-top: 12%
}

#prospect-form h3{
  color: rgb(255,255,255);
}

#prospect-btn{
  color: rgb(244,134,89);
}
