<!DOCTYPE html>
<html>
<head>
  <title>Knowitowl</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
</head>
  <body>

    <nav class="pushy pushy-left">
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
      </ul>
    </nav>
    
    <div class="site-overlay"></div><!-- Site Overlay -->

    <div class="wrapper">
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>


  </body>
</html>



