<!DOCTYPE html>
<html>
<head>
  <title>Knowitowl</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
</head>
  <body>

    <nav class="pushy pushy-left">
      <div class="push-info">
        <span class="glyphicon glyphicon-usd"></span>
        Unfortunately, many of today's youngest workers pass on the opportunity to save for retirement early, when the beauty of compounding interest can work its magic and maximize savings. A recent study by human resources consultant Hewitt Associates found that just 31 percent of Generation Y.
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>
      
    </nav>
    
    <div class="site-overlay"></div><!-- Site Overlay -->

    <div class="wrapper">
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>


  </body>
</html>



